body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
header {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 10px;

}

nav ul {
    
    background-color: #333;
    text-align: center;
    padding: 8px;
}

nav ul li {
    display: inline;
    margin: 0 60px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}
section{
    font-family: Helvetica;
    width: 100%;
    height: 925px;

}
.producto2{
    display: flex;
    margin-bottom: 10px;
    
}
article {
    border: 1px solid #ffffff;
    margin: 15px;
    padding: 5px;
    width: 280px;
    height: auto;
   
}
article img{
    height: 228px;
    transition: transform 0.3s;
    width: auto;
}
article button{
    margin: 10px;
}

article:hover img {
    transform: scale(1.087);     
}
article h2{
   font-family:  Verdana, Geneva, Tahoma, sans-serif;
   font-size: 20px;
}
article h3{
    font-family: Helvetica;
    font-size: 13px;
}
table{
    float: right;
    margin-right: 20px;
}
.content{
    float: left;
    margin-left: 20px;
    width: 45%;
    padding-bottom: 10px;
}
h2{
    font-family: Impact, sans-serif;
    font-size: 50px;
    margin-bottom: 10px;
}
h3{
    font-size: 20px;
    font-family:Impact, sans-serif ;
}
.content p{
    font-size: 15px;
    color: rgb(183, 107, 107);
    border-bottom: solid black 1px;
    padding-bottom: 10px;
}
h4{
    margin-bottom: 10px;
    margin-top: 10px;
}
.talla{
    display: flex;
    padding-bottom: 10px;
}
.talla button{
    margin: 5px;
    border-radius: 1px;
    background-color:white;
    color: black;
}
.carrito{
    border-bottom: solid black 1px;
    padding-bottom: 10px;
}
.carrito button{
    background-color: black;
    color: white;
    width: 200px;
    height: 30px;
}
.descripcion p{
    color: black;
}
footer {
    background-color: #000000;
    color: #fff;
    padding: 40px 0;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    max-width: 300px;
    color: white;
}

.footer-section h3 {
    color: #b9b7ae; 
    border-bottom: 1px solid white;
    padding-bottom: 10px;
}

.footer-section p {
    line-height: 1.5;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

ul.social-icons {
    display: flex;
    padding: 0 px;
}

ul.social-icons li {
    margin-right: 10px;
    
}

ul.social-icons img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 10px;
}

.footer-bottom {
    background-color: #222;
    padding: 10px 0;
    text-align: center;
}

.footer-bottom p {
    margin: 0;
}
.footer-section ul li a {
    color: white;
    text-decoration: none;
}
.footer-section iframe{
    margin-bottom: 10px;
}
